# Environment
NODE_ENV=production

# MongoDB Configuration (Docker ports để tránh conflict)
MONGO_ROOT_USERNAME=admin
MONGO_ROOT_PASSWORD=123456
MONGO_DB_NAME=vphone

# JWT Secret (Change this in production!)
JWT_SECRET=mh2!#F8m@kd%$a7LzQxT9^v!w

# Email Configuration
EMAIL_USER=vphone24h3@gmail.com
EMAIL_PASS=ftxhkismjvdqzawp

# Port Configuration (Docker mapping)
# Host ports để tránh conflict trên VPS
NGINX_PORT=8080
NGINX_SSL_PORT=8443
FRONTEND_PORT=3001
BACKEND_PORT=4001
MONGODB_PORT=27018

# Domain Configuration (for SSL)
DOMAIN=localhost
# DOMAIN=app.vphone.vn

# SSL Configuration (for Let's Encrypt)
SSL_EMAIL=admin@vphone.vn 